/*-----------ПОДКЛЮЧЕНИЕ ШРИФТОВ-----------------------------------------------------------------*/
@import "./../fonts/playfairdisplay/playfair.css";
@import "./../fonts/roboto/roboto.css";
@import "./../fonts/Impact/stylesheet.css";

/*-----------ОБНУЛЕНИЕ СТИЛЕЙ-----------------------------------------------------------------*/

*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-family: Impact,sans-serif;
    font-size: 100%;
    line-height: 1;
    /*font-size: 14px;*/
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

.button--border{
    background-color: transparent;
    border: 1px solid #600909;
    color: #600909;
}
button{
    border-radius: 7px;
    transition: 0.2s;
    background-color: #3cddec;
    color: #600909;

}
button:hover{
    background-color: #600909;
    color: bisque;
}

/*-----------БАЗОВЫЕ СТИЛИ---------------------------------------------------------*/
body {
    background-color: #F5DEB3;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 3%;
}
header {
    width: 100%;
    background-image: url("../img/header.jpg");
    background-size: cover;

}
main{

}
/*-----------ШАПКА-----------------------------------------------------------------*/

.header_container{
    display: flex;
    justify-content: space-between;
    font-family: Impact,sans-serif;
    font-size: 1.5vw;
}
.header-container2{
    display: flex;
    justify-content: end;
    font-family: Impact,sans-serif;
    font-size: 1.5vw;
}
.burger{
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 5px;

}
.burger span{
    width: 25px;
    height: 3px;
    background: #600909;
    margin: 3px 0;
    transition: 0.3s;
}
.nav_menu{
    display: none;z-index: 1001;
}
.header_menu{
    display: flex;
    align-items: center;
    justify-content: normal;
    flex-basis: 25%;
}

.menu_column{
    display: flex;
    flex-direction: column;
    margin: 0 14% 0 0;
}
.menu_list li{
    margin: 0 0 14% 0;
}
.header_logo{
    display: flex;
    justify-content: center;
    flex-basis: 40%;
}
.header_logo_img{
    display: block;
    width: 100%;
    height: auto;
    padding: 1% 30% 0 30%;


}
.header_action{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 28%;
    margin-top: 2%;
}
.header_links{
    margin: 0 0 5% 0;
}
.action-header_link{
    color: #600909;
    margin: 10px;
}
.action-header_button{
    font-size: inherit;
}
.menu_link{
    color: #600909;
    transition: 0.5s;
}
.menu_link:visited, .action-header_link:visited{
    color: #600909;
    font-family: Impact,sans-serif;
}
.menu_link:hover{
    color: #ef9014;
}
.reserve{
    display: flex;
    justify-content: flex-end;
    margin: 15% 7%;
}
.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ef9014;
    background: #0d42ef;
    /*background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgb(4, 211, 238) 100%);*/
    border: none;

    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 1% 45%;
}

.button::before {
    content: '';
    border-radius: 12px;
    min-width: calc(100% + 12px);
    min-height: calc(100% + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.button:hover,
.button:focus {
    color: bisque;
    background: #600909;
    transform: translateY(-6px);
}

.button:hover::before,
.button:focus::before {
    opacity: 1;
}

.button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

.button:hover::after,
.button:focus::after {
    animation: none;
    display: none;
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }
    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}
/*-----------MAIN-----------------------------------------------------------------*/
h2{
    font-size: 2.5vw;
    margin-top: 4%;
    margin-bottom: 2%;
    color: #600909;

}
.about-us-container{
    background: #333333;
    /*min-height: 100vh;*/
    display: flex;
    justify-content: center;
    align-items: center;


}
.about-img{
    max-width: 100%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin-right: 0.3%;

}
.cards-about-us{
    max-width: 74%;
    margin: 0 auto;
    position: relative;
}
.about p{
    text-align: justify;
}
.cards-about-us button, .reviews-cards button{
    width: 3rem;
    height: 3rem;
    background: #ffffff;
    font-size: 2rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.8);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    cursor: pointer;
}
.prev{
    left: -2rem;
}
.next{
    right: -2rem;
}

.cards{
    white-space: nowrap;
    overflow-x: scroll;
    scroll-behavior: smooth;
    /*display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;*/
}
.card{
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    /*height: 25rem;*/
}
.card img{
    width: 25%;
    height: auto;
}
.cards::-webkit-scrollbar{
    display: none;
}
.about-us{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.about{
    margin-top: 2%;
    text-indent: 3%;
    line-height: 1.5;
    font-size: 1.5vw;
    color: #520707;
}
.about-name{
    color: #f6780f;
    font-size: 3vh;
}
.map{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2%;

}
.map h2{
    margin-top: 0;

}
.map p{
    margin-top: 2%;
    color: #f6780f;
    font-size: 1.5vw;
}
.btn{
    padding: 5px 15px;
    border: 1px solid #520707;
}
.rooms{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5% 5%;

}
.rooms-row{
    display: flex;
    justify-content: space-between;
}
.rooms-card{
    margin: 3% 5%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #520707;
    border-radius: 20px;
    box-shadow: 10px 10px 20px #600909;
    background-color: #efbc91;
    position: relative;
    overflow: hidden;
}
.room-img{
    width: 100%;
    border-radius: 20px;
    display: block;
    transition: transform 0.5s;
}
.overlay{
    height: 0;
    width: 100%;
    background: linear-gradient(transparent, #efbc91 80%);
    border-radius: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 10%;
    transition: height 0.5s;
}
.overlay h3{
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 80%;
}
.rooms-card h3{
    margin: 3% 0;
    text-align: center;
    color: #600909;
}
.btn a{
    color: #600909;
}
.btn a:hover{
    color: bisque;
}
.rooms-card:hover{
    transform: scale(1.2);
}
.rooms-card:hover .overlay{
    height: 100%;
}


.reviews{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reviews-cards{
    max-width: 70%;
    margin: 0 auto;
    position: relative;
}
.prev{
    left: -2rem;
}
.next{
    right: -2rem;
}
.cardsR{
    white-space: nowrap;
    overflow-x: scroll;
    scroll-behavior: smooth;
    /*display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;*/
}
.cardR{
    position: relative;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    width: 100%;

    /*height: 25rem;*/
}
.cardsR::-webkit-scrollbar{
    display: none;
}
.cardR p{
    font-size: 1.2vw;
    margin-top: 3%;
}
.reviews h2{
    margin-top: 0;
}
.cardR-img img{
    max-width: 100%;
    object-fit: cover;
    width: 100%;
    height: auto;
    padding: 10%;;

}
.cardR-text{
    display: flex;
    flex-direction: column;
    padding: 3%;
    flex: 3;
}
.cardR-text-row1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #0d42ef;
}
.cardR-text-row2 p{
    text-align: justify;
    white-space: normal;
    line-height: normal;
}
.cardR-text-container{
    display: flex;
}
.cardR-img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
#scrollTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ff6f00;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    text-decoration: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    opacity: 0.6;
    transition: opacity 0.3s;
}
#scrollTopBtn:hover {
    opacity: 1;
}
footer{
    background-color: #600909;
}
i img, li a img{
    width: 30px;
}
.section-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
.footer-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px,1fr));
    justify-content: center;
    gap: 5vw;
    margin: 2% 0 2% 10%;
}
.col-content a.footer-logo{
    font-size: 2.0vw;
    color: #e19f6c;
}
.col-content p{
    font-size: 1.1vw;
    color: #a66429;
    margin-bottom: 5%;
    margin-top: 5%;
    line-height: normal;
}
.col-content .social-links{
    display: flex;
    align-items: center;
    gap: 5%;
}
.col-content .social-links i:hover{
    transform: scale(1.3);
    transition: all .3s ease-in-out;
}
.col h3{
    color: #e19f6c;
    font-size: 2.0vw;
    margin-bottom: 5%;
}
.col .links li{
    margin-bottom: 1%;
}
.col .links li a{
    color: #a66429;
    font-size: 1.1vw;
    display: flex;
    align-items: center;
}
.col .links li a span{
    transition: all .3s ease-in-out;
}
.col .links li a span:hover{
    margin-left: 10px;
}
.col .links li a img{
    margin-right: 3%;
}
/*-----------СВАЙПЕР-------------------------------------*/
.row-container{
    display: flex;
    margin-bottom: 3%;
    flex-wrap: wrap;

}
.slider{
display: flex;
    flex-direction: column;
    align-items: center;

    width: 50%;
}
.swiper-gallery {
    width: 90%;
    height: auto;
    background: #333333;

    display: flex;
    flex-direction: column;
}
.swiper-thumbs{
    width: 90%;
    background: #333333;
    padding-bottom: 5%;
}

.swiper-slide img{
    max-width: 80%;

}
.swiper-slide{
    display: flex;
    justify-content: center;
    width: 90%;
    margin-top: 5%;
}
.swiper-thumbs .swiper-slide{
    width: 25%;
    height: 100%;
    opacity: 0.4;
    cursor: pointer;
    transition: opacity .3s;
}
.swiper-thumbs .swiper-slide-thumb-active,
.swiper-thumbs .swiper-slide:hover{
    opacity: 1;
}
:root {
    --swiper-navigation-size: 7%;
}
.contact li{
    padding: 1% 0;
}
.contact li a{
    display: flex;
    align-items: center;
}

.contact li span{
    font-size: 1.3vw;
    color: #520707;
    padding: 0 0 0 5%;

}
.contact li span:hover{
    color: #ef9014;
}
.header-page{
    background: #e19f6c;
    width: 100%;
    margin-bottom: 3%;
    padding-bottom: 0.3%;
}
.swiper-content{
    margin-left: 3%;
    color: #171616;
    width: 47%;

}
.swiper-content h2{
    text-align: center;
    margin: 0 0 3% 0;
    font-size: 160%;
}
.swiper-content .number h2 {
    text-align: center;
    margin-bottom: 0;
    font-size: 170%;
}
.p-content{
    font-size: 110%;
    line-height: 1.2;
    text-align: justify;
    text-indent: 10%;
}
.p-content span{
    color: #af3c1f;
    font-size: 115%;
}
.slip-place, .conveniences{
    background: #f3caad;
    border-radius: 20px;
    margin: 3% 0 0 0;
    padding: 5% 5% 0 5%;
    max-width: 100%;
}

.slip-place h3, .conveniences h3{
    color: #520707;
    font-size: 150%;
    margin-bottom: 2%;
}
.slip-name{
    color: #520707;
    margin-bottom: 4%;
    font-size: 105%;
}
.slip-place img, .conveniences img{
    width: 48px;
    margin-right: 4%;
}
.slip-content{
    display: flex;
    flex-wrap: wrap;


}

.slip-content h4{
    margin-right: 4%;
}
.col{
    margin-right: 5%;
    margin-bottom: 5%;
}
.row{
    margin-bottom: 2%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.bathroom-blok, .kitchen-blok{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.blok{
    display: flex;
    align-items: start;
}
.reserve-btn, .write-btn{
    padding: 3%;
    font-size: 120%;
    background: #ff6f00;
    margin-bottom: 2%;
    border: 1px solid #520707;
    box-shadow: inset 0 0 8px #6c0a0a;
}
.reserve-btn a, .write-btn a{
    color: #600909;
}
.reserve-btn:hover, .write-btn:hover{
    background: #023af3;

}
.write-btn img{
    width: 24px;
}
.reserve-action{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10%;
    margin-bottom: 2%;
}
.tel{
    display: none;
}
.udobstva{
    margin-bottom: 4%;
}
/*-------------Модальное окно----------------------------*/
.modal-overlay {
    display: none; /* По умолчанию скрыто */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный фон */
    z-index: 1000; /* Высокий z-index для отображения над другими элементами */
    justify-content: center;
    align-items: center;
}

/* Стили для контейнера модального окна */
.modal-window {

    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    max-width: 500px;
    width: 90%;
    position: relative;
    animation: modalFadeIn 0.3s ease-out;
    background: #f3caad;

}

/* Стили для заголовка модального окна */
.modal-header {
    padding: 15px 20px;
    border-bottom: 1px solid #600909;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header h3 {
    margin: 0;
    color: #333;
}

/* Стили для кнопки закрытия */
.close-btn {
    font-size: 24px;
    font-weight: bold;
    color: #cc2a2a;
    cursor: pointer;
    transition: color 0.2s;
}

.close-btn:hover {
    color: #333;
}

/* Стили для содержимого модального окна */
.modal-content {
    padding: 2% 6%;
    max-height: 70vh; /* Максимальная высота для скролла */
    overflow-y: auto; /* Добавление скролла при необходимости */
    font-size: 115%;
}
.p{
    padding-bottom: 2%;
}
/* Стили для футера модального окна */
.modal-footer {
    padding: 15px 0;
    border-top: 1px solid #600909;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

/* Анимация появления модального окна */
@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Стили для показа модального окна */
.modal-overlay.active {
    display: flex; /* Меняем на flex для центрирования */
}

/* Стили для кнопок */
.btn-secondary {
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.2s;
}

.btn-secondary {
    background-color: #600909;
    color: #fce5ca;
    border: 1px solid #ddd;
}
.btn-secondary:hover {
    background-color: #0d42ef;
}

/*-------------Модальное окно видео----------------------------*/
.modal-overlay-video {
    display: none; /* По умолчанию скрыто */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный фон */
    z-index: 1000; /* Высокий z-index для отображения над другими элементами */
    justify-content: center;
    align-items: center;
}

/* Стили для контейнера модального окна */
.modal-window-video {

    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    max-width: 500px;
    width: 100%;
    position: relative;
    animation: modalFadeIn 0.3s ease-out;
    background: transparent;

}

/* Стили для заголовка модального окна */
.modal-header-video {
    padding: 5px 10px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.modal-content-video{
    display: flex;
}
/* Стили для кнопки закрытия */
.close-btn-video {
    font-size: 36px;
    font-weight: bold;
    color: #355be5;
    cursor: pointer;
    transition: color 0.2s;
    margin-left: -25px;
    z-index: 3;
}

.close-btn-video:hover {
    color: #fce5ca;
}

/* Стили для содержимого модального окна */
.modal-content {
    padding: 2% 6%;
    max-height: 70vh; /* Максимальная высота для скролла */
    overflow-y: auto; /* Добавление скролла при необходимости */
    font-size: 115%;
}
.review-video{
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    max-width: 370px;
}
/* Стили для показа модального окна */
.modal-overlay-video.activeVideo {
    display: flex; /* Меняем на flex для центрирования */
}

.review-video-btn{
    margin-top: 7%;
    border: 1px solid #520707;
    box-shadow: inset 0 0 8px #6c0a0a;
    background: #ff6f00;
    padding: 3%;
    font-size: 120%;
}
.review-video-btn a{
    color: #600909;
}
.review-video-btn:hover{
    background: #0d42ef;
}
.reserve-list li{
    list-style-type: circle;
    padding-bottom: 2%;
}
.reserve-list button{
    padding: 1%;
    background: #023af3;
    color: #efbc91;
    margin-top: 2%;
}
.reserve-list button:hover{
    background: #600909;
}
.reserve-list a{
    color: #ff6f00;
    font-size: 120%;
}
/*-----------МЕДИА-ЗАПРОСЫ-------------------------------*/
@media (max-width: 767px){
    html{
        font-size: 70%;
    }
    .menu_column{
        display: none;
    }
    .burger{
        display: flex;
    }
    .nav_menu{
        display: flex;
        position: fixed;
        top: -110%;
        left: 0;
        width: 30%;
        height: 25vh;
        background: #600909;
        flex-direction: column;
        box-shadow: -2px 0 10px bisque;
        transition: top 0.3s;
        font-size: 14px;
    }
    .nav_menu.active a{
        color: #efbc91;
        margin: 0 10%;
    }
    .nav_menu.active a:hover{
        color: #ef9014;
    }
    .nav_menu.active li{

        margin-bottom: 10px;
    }
    .nav_menu.active{
        top: 0;
        left: 10px;
        padding: 5%;
    }
    .burger.active span:nth-child(1){
        transform: rotate(-45deg) translate(-5px 6px);
    }
    .burger.active span:nth-child(2){
        opacity: 0;
    }
    .burger.active span:nth-child(3){
        transform: rotate(-45deg) translate(-5px 6px);
    }
    @keyframes ring {
        0% {
            width: 30px;
            height: 30px;
            opacity: 1;
        }
        100% {
            width: 100px;
            height: 100px;
            opacity: 0;
        }
    }
    .overlay{
        padding: 0;
    }
    .overlay h3{
        font-size: 1.2vw;
    }
    .overlay .btn{
        font-size: 1.2vw;
        padding: 5px;
    }
    .tel{
        display: block;
    }
    .tel-pk{
        display: none;
    }
    li a img{
        width: 18px;
    }
    .swiper-thumbs{
        display: none;
    }
    .swiper-button-prev, .swiper-button-next{
        display: none;
    }
    .slider{
        width: 100%;
        margin-bottom: 5%;

    }
    .swiper-gallery{
        padding-bottom: 5%;
    }
    .swiper-content{
        width: 100%;
    }
.write-btn a{
    align-items: center;
}
    .write-btn a img{
        padding-left: 10%;
    }

}
@media (min-width: 768px) and (max-width: 1023px){

}
@media (min-width: 1024px){
    header{
        height: 90%;
    }
}




